﻿@using Epr.Reprocessor.Exporter.UI.App.Constants

@model InterimSitesQuestionOneViewModel
@{
	ViewData["Title"] = Localizer["page_title"];
	ViewData["PageDescription"] = Localizer["page_description"];
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<form asp-controller="Exporter" asp-action="InterimSitesQuestionOne" method="post">

	<div class="govuk-form-group @(ViewData.ModelState["InterimSitesQuestionOneViewModel"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading"> @Localizer["do_you_use_interim_sites"]</h1>
				<br />
				<h2 class="govuk-body-s">@Localizer["you_must_enter_the_details_of_any_interim_sites_you_use"]</h2>
            </legend>

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("HasInterimSites"))
			}

            <div class="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           id="hasInterimSiteYes"
                           name="HasInterimSites"
                           value="true" />
                    <label class="govuk-label govuk-radios__label" for="hasInterimSiteYes">
						@Localizer["option_yes"]
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input"
                           type="radio"
                           id="hasInterimSiteNo"
                           name="HasInterimSites"
                           value="false" />
                    <label class="govuk-label govuk-radios__label" for="hasInterimSiteNo">
						@Localizer["option_no"]
                    </label>
                </div>
            </div>

        </fieldset>
    </div>
	<br />
	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>

</form>



@* <form asp-controller="Exporter" asp-action="AddInterimSites" method="post">

	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading"> @Localizer["do_you_use_interim_sites"]</h1>
				<h2 class="govuk-body-s">@Localizer["you_must_enter_the_details_of_any_interim_sites_you_use"]</h2>
			</legend>
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("InterimSitesModel"))

			}
			<div class="govuk-radios" data-module="govuk-radios">
				<div class="govuk-radios__item">
					@Html.RadioButtonFor(x => x.HasInterimSites, new { @class = "govuk-radios__input", @checked = Model.HasInterimSites })
					<label class="govuk-label govuk-radios__label">
						text goes here
					</label>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="govuk-button-group">
		<button type="submit" class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</div>
</form>

@section Styles {
	<link href="~/css/registration-radio-buttons.css" rel="stylesheet" />
} *@