@model Epr.Reprocessor.Exporter.UI.ViewModels.LinkSettings
@{
    ViewData["Title"] = "Home";
}
<div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
                <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                    Account: Jamie Roberts
                </h1>
            </div>
        </div>
        <div class="govuk-grid-row box-container">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            Add organisations
                        </h2>
                        <p class="govuk-body">Add your organisation ahead of registering to be either a reprocessor or an exporter or both.</p>
                        <p class="govuk-body">
                            <a href="@Model.AddOrganisation" class="govuk-link--no-visited-state">Add an organisation</a>
                        </p>
                        <p class="govuk-body">
                            <a href="@Model.ViewOrganisations" class="govuk-link--no-visited-state">View your organisations</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            Apply for registration.
                        </h2>
                        <p class="govuk-body">Reprocessors and exporters must apply for registration.</p>
                        <p class="govuk-body">
                            <a href="@Model.ApplyReprocessor" class="govuk-link--no-visited-state">Apply to register as a reprocessor</a>
                        </p>
                        <p class="govuk-body">
                            <a href="@Model.ApplyExporter" class="govuk-link--no-visited-state">Apply to register as an exporter</a>
                        </p>
                        <p class="govuk-body">
                            <a href="@Model.ViewApplications" class="govuk-link--no-visited-state">View registration applications</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

@* @{
    ViewData["Title"] = "Home";
}
<div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

                <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
                    Account: Jamie Roberts
                </h1>
            </div>
        </div>
        <div class="govuk-grid-row box-container">
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            Add organisations
                        </h2>
                        <p class="govuk-body">Add your organisation ahead of registering to be either a reprocessor or an exporter or both.</p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">Add an organisation</a>
                        </p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">View your organisations</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-half box">
                <div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
                    <div class="govuk-card-body">
                        <h2 class="govuk-heading-m">
                            Apply for registration.
                        </h2>
                        <p class="govuk-body">Reprocessors and exporters must apply for registration.</p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">Apply to register as a reprocessor</a>
                        </p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">Apply to register as an exporter</a>
                        </p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">View registration applications</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div> *@