@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration.Exporter
@model CheckOverseasReprocessingSitesAnswersViewModel

@{
	ViewData["Title"] = Localizer["CheckAnswersPageTitle"];
	ViewData["UseNewLayout"] = true;
	var deletedOverseasReprocessor = TempData["DeletedOverseasReprocessor"] as string;
	int orgIndex = 0;
}

@if (!string.IsNullOrEmpty(deletedOverseasReprocessor))
{
	<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
		<div class="govuk-notification-banner__header">
			<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				@Localizer["Success"]
			</h2>
		</div>
		<div class="govuk-notification-banner__content">
			<h3 class="govuk-notification-banner__heading">
				@Localizer["DeleteOverseasReprocessorMessage", @deletedOverseasReprocessor]
			</h3>
		</div>
	</div>
}


<form asp-asp-controller="Exporter" asp-action="CheckOverseasReprocessingSitesAnswers" method="post">
	@Html.AntiForgeryToken()

	<h1 class="govuk-heading-l">@Localizer["CheckAnswersPageTitle"]</h1>

	<p class="govuk-body">
		@Html.ActionLink(Localizer["AddAnotherOverseasReprocessingSize"].Value, PagePaths.AddAnotherOverseasReprocessingSite, PagePaths.RegistrationLanding, new { @class = "govuk-link" })
	</p>
	@foreach (var address in Model.OverseasAddresses.OrderBy(a => a.OrganisationName))
	{
		orgIndex++;
		<dl class="govuk-summary-list govuk-!-margin-bottom-3">

			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					@($"{Localizer["OverseasReprocessingSiteDetailHeading"].Value} {orgIndex}")
					<br />
					@Html.ActionLink(Localizer["DeleteThisSite"].Value, PagePaths.DeleteOverseasReprocessingSite, PagePaths.RegistrationLanding, new { index = orgIndex }, new { @class = "govuk-link" })
				</dt>
				<dd class="govuk-summary-list__value">
					@address.OrganisationName.ToString()
				</dd>
				@* Change overseas reprocessing site *@
				<dd class="govuk-summary-list__actions">
					@Html.ActionLink(Localizer["Change"].Value, PagePaths.ChangeOverseasReprocessingSite, PagePaths.RegistrationLanding, new { index = orgIndex }, new { @class = "govuk-link" })
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list--no-border">
				<dt class="govuk-summary-list__key govuk-summary-list--no-border">

				</dt>
				<dd class="govuk-summary-list__value--no-border">
					@address.Country.ToString()
					<br />
					@address.AddressLine1.ToString()
					<br />
					@address.AddressLine2.ToString()
					<br />
					@address.CityorTown.ToString()
					<br />
					@address.SiteCoordinates.ToString()
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list--no-border">
				<dt class="govuk-summary-list__key--no-border">
					Contact details
				</dt>
				<dd class="govuk-summary-list__value">
					@address.OverseasAddressContact.FirstOrDefault().FullName
					<br />
					@address.OverseasAddressContact.FirstOrDefault().Email
					<br />
					@address.OverseasAddressContact.FirstOrDefault().PhoneNumber
				</dd>
				@* Change overseas reprocessing contact *@
				<dd class="govuk-summary-list__actions">
					@Html.ActionLink(Localizer["Change"].Value, PagePaths.ChangeOverseasReprocessingSite, PagePaths.RegistrationLanding, new { index = orgIndex }, new { @class = "govuk-link" })
				</dd>
			</div>
			<div class="govuk-summary-list__row govuk-summary-list">
				<dt class="govuk-summary-list__key">
					Basel Convention and OECD codes
				</dt>
				<dd class="govuk-summary-list__value">
					@foreach (var wastecode in @address.OverseasAddressWasteCodes)
					{
						@wastecode.CodeName <br />
					}
				</dd>
				@* Change basel convention *@
				<dd class="govuk-summary-list__actions">
					@Html.ActionLink(Localizer["Change"].Value, PagePaths.ChangeBaselConvention, PagePaths.RegistrationLanding, new { index = orgIndex }, new { @class = "govuk-link" })
				</dd>
			</div>
		</dl>
	}

	<div class="govuk-button-group">
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["confirmandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcontinuelater"]
		</button>
	</div>
</form>