@using Epr.Reprocessor.Exporter.UI.Enums
@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration
@model Epr.Reprocessor.Exporter.UI.ViewModels.Registration.MaterialPermitViewModel
@{
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<fieldset class="govuk-fieldset">
	<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
		<h1 class="govuk-fieldset__heading">@Localizer["maximum_weight_label_text", Model.Material!]</h1>
	</legend>

	<form-group asp-for="MaximumWeight">
		@if (!ViewData.ModelState.IsValid)
		{
			@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("MaximumWeight"))
		}

		<div class="govuk-input__wrapper">
			@Html.TextBoxFor(x => x.MaximumWeight, new
				{
					@class = $"govuk-input govuk-input--width-10 {@Html.Raw(errorsViewModel.HasErrorKey(nameof(MaterialPermitViewModel.MaximumWeight)) ? "govuk-input-error" : "")}"
				})
			<div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
		</div>
	</form-group>

	<form-group asp-for="SelectedFrequency">
		<label class="govuk-label govuk-label--m">@Localizer["frequency_options_label_text"]</label>
	
		@if (!ViewData.ModelState.IsValid)
		{
			@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("SelectedFrequency"))
		}
	
		<div class="govuk-radios" data-module="govuk-radios">
			<div class="govuk-radios__item">
				<input asp-for="SelectedFrequency" class="govuk-radios__input" type="radio" id="PpcPermitFrequencyPerYear" data-testid="PpcPermitFrequencyPerYear"	value="@MaterialFrequencyOptions.PerYear">
				<label class="govuk-label govuk-radios__label" for="PpcPermitFrequencyPerYear">
					@Localizer["per_year"]
				</label>
			</div>
			<div class="govuk-radios__item">
				<input asp-for="SelectedFrequency" class="govuk-radios__input" type="radio" id="PpcPermitFrequencyPerMonth" data-testid="PpcPermitFrequencyPerMonth"		value="@MaterialFrequencyOptions.PerMonth">
				<label class="govuk-label govuk-radios__label" for="PpcPermitFrequencyPerMonth">
					@Localizer["per_month"]
				</label>
			</div>
			<div class="govuk-radios__item">
				<input asp-for="SelectedFrequency" class="govuk-radios__input" type="radio" id="PpcPermitFrequencyPerWeek" data-testid="PpcPermitFrequencyPerWeek"	value="@MaterialFrequencyOptions.PerWeek">
				<label class="govuk-label govuk-radios__label" for="PpcPermitFrequencyPerWeek">
					@Localizer["per_week"]
				</label>
			</div>
		</div>
	</form-group>
</fieldset>