@model Epr.Reprocessor.Exporter.UI.ViewModels.AddressOfReprocessingSiteViewModel
@using Epr.Reprocessor.Exporter.UI.Enums;
@{
	ViewData["Title"] = Localizer["ReprocessingSiteAddressPageTitle"];
	var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@section Styles {
	<link href="~/css/AddressRadioButton.css" rel="stylesheet" />
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsVM)
			}

			@using (Html.BeginForm("AddressOfReprocessingSite", "Registration", FormMethod.Post, new { @class = "form", id = "site-address-form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.BusinessAddress.AddressLine1)
				@Html.HiddenFor(x => x.BusinessAddress.AddressLine2)
				@Html.HiddenFor(x => x.BusinessAddress.TownOrCity)
				@Html.HiddenFor(x => x.BusinessAddress.County)
				@Html.HiddenFor(x => x.BusinessAddress.Postcode)

				<div class="govuk-form-group@(errorsVM.Errors.Count > 0 ? " govuk-form-group--error" : string.Empty)">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h1 class="govuk-heading-l">
								@Localizer["ReprocessingSiteAddressPageTitle"]
							</h1>
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">

							@Html.ValidationMessageFor(x => x.SelectedOption, string.Empty, new { @class = "govuk-error-message" })

							<div class="govuk-radios__item">
								<input class="govuk-radios__input"
									   id="SameAsBusinessAddress"
									   name="SelectedOption"
									   type="radio"
									   value="@ReprocessingSiteAddressOptions.SameAsBusinessAddress"
									   aria-controls="conditional-address" />

								<label class="govuk-label govuk-radios__label" for="SameAsBusinessAddress">
									@Localizer["SameAsBusinessAddress"]
								</label>

								<div class="govuk-radios__conditional" id="conditional-address">
									<div class="govuk-body">
										<strong>@Localizer["BusinessAddressCaption"]</strong><br>
										@if (!string.IsNullOrEmpty(Model.BusinessAddress?.AddressLine1))
										{
											@Model.BusinessAddress.AddressLine1
											<br>
										}
										@if (!string.IsNullOrEmpty(Model.BusinessAddress?.AddressLine2))
										{
											@Model.BusinessAddress.AddressLine2
											<br>
										}
										@if (!string.IsNullOrEmpty(Model.BusinessAddress?.TownOrCity))
										{
											@Model.BusinessAddress.TownOrCity
											@if (!string.IsNullOrEmpty(Model.BusinessAddress?.County))
											{
												<text>, @Model.BusinessAddress.County</text>
											}
											<br>
										}
										else if (!string.IsNullOrEmpty(Model.BusinessAddress?.County))
										{
											@Model.BusinessAddress.County
											<br>
										}
										@if (!string.IsNullOrEmpty(Model.BusinessAddress.Postcode))
										{
											@Model.BusinessAddress.Postcode
										}
									</div>
								</div>
							</div>

							<div class="govuk-radios__item">
								<input class="govuk-radios__input"
									   id="DifferentAddress"
									   name="SelectedOption"
									   type="radio"
									   value="@ReprocessingSiteAddressOptions.DifferentAddress">
								<label class="govuk-label govuk-radios__label" for="DifferentAddress">
									@Localizer["DifferentAddress"]
								</label>
							</div>
						</div>
					</fieldset>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
					@SharedLocalizer["Continue"]
				</button>

			}
		</div>
	</div>

</main>