@using Epr.Reprocessor.Exporter.UI.App.Constants
@model Epr.Reprocessor.Exporter.UI.ViewModels.AddressOfReprocessingSiteViewModel
@{
	ViewData["Title"] = Localizer["ReprocessingSiteAddressPageTitle"];
	var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@section Styles {
	<link href="~/css/AddressOfReprocessingSite.css" rel="stylesheet" />
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsVM)
			}

			<form class="form" action="" method="post">
				@Html.AntiForgeryToken()
				<div class="govuk-form-group@(errorsVM.Errors.Count > 0 ? " govuk-form-group--error" : string.Empty)">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h1 class="govuk-heading-l">
								@Localizer["ReprocessingSiteAddressPageTitle"]
							</h1>
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">

							@Html.ValidationMessage("IsSameAddress", string.Empty, new { @class = "govuk-error-message" })

							<div class="govuk-radios__item">
								<input class="govuk-radios__input"
									   id="same-address"
									   name="IsSameAddress"
									   type="radio"
									   value="true"
									   for="IsSameAddress"
									   aria-controls="conditional-contact" />
								<label class="govuk-label govuk-radios__label" for="same-address">
									@Localizer["SameAsBusinessAddress"]
								</label>
								<div class="govuk-radios__conditional" id="conditional-contact">
									<div class="govuk-body">
										<strong>@Localizer["BusinessAddressCaption"]</strong><br>
										@if (!string.IsNullOrEmpty(Model.AddressLine1))
										{
											@Model.AddressLine1

											<br>
										}
										@if (!string.IsNullOrEmpty(Model.AddressLine2))
										{
											@Model.AddressLine2

											<br>
										}
										@if (!string.IsNullOrEmpty(Model.TownCity))
										{
											@Model.TownCity
											@if (!string.IsNullOrEmpty(Model.County))
											{
												<text>, @Model.County</text>
											}
											<br>
										}
										else if (!string.IsNullOrEmpty(Model.County))
										{
											@Model.County

											<br>
										}
										@if (!string.IsNullOrEmpty(Model.Postcode))
										{
											@Model.Postcode
										}
									</div>
								</div>
							</div>

							<div class="govuk-radios__item">
								<input class="govuk-radios__input"
									   id="different-address"
									   name="IsSameAddress"
									   type="radio"
									   value="false"
									   for="IsSameAddress">
								<label class="govuk-label govuk-radios__label" for="different-address">
									@Localizer["DifferentAddress"]
								</label>
							</div>
						</div>
					</fieldset>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
					@SharedLocalizer["Continue"]
				</button>

			</form>
		</div>
	</div>

</main>