@model AddressOfReprocessingSiteViewModel
@using Epr.Reprocessor.Exporter.UI.Enums;
@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration;
@{
	ViewData["Title"] = Localizer["ReprocessingSiteAddressPageTitle"];
	var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);

	var isBusinessAddress = Model.BusinessAddress is not null;
	var address = isBusinessAddress ? Model.BusinessAddress : Model.RegisteredAddress;
}

@section Styles {
	<link href="~/css/AddressRadioButton.css" rel="stylesheet" />
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsVM)
			}

			@using (Html.BeginForm("AddressOfReprocessingSite", "Registration", FormMethod.Post, new { @class = "form", id = "site-address-form" }))
			{
				@Html.AntiForgeryToken()
				@Html.HiddenFor(x => x.BusinessAddress.AddressLine1)
				@Html.HiddenFor(x => x.BusinessAddress.AddressLine2)
				@Html.HiddenFor(x => x.BusinessAddress.TownOrCity)
				@Html.HiddenFor(x => x.BusinessAddress.County)
				@Html.HiddenFor(x => x.BusinessAddress.Postcode)
				@Html.HiddenFor(x => x.RegisteredAddress.AddressLine1)
				@Html.HiddenFor(x => x.RegisteredAddress.AddressLine2)
				@Html.HiddenFor(x => x.RegisteredAddress.TownOrCity)
				@Html.HiddenFor(x => x.RegisteredAddress.County)
				@Html.HiddenFor(x => x.RegisteredAddress.Postcode)

				<div class="govuk-form-group@(errorsVM.Errors.Count > 0 ? " govuk-form-group--error" : string.Empty)">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h1 class="govuk-heading-l">
								@Localizer["ReprocessingSiteAddressPageTitle"]
							</h1>
						</legend>

						<div class="govuk-radios" data-module="govuk-radios">

							@Html.ValidationMessageFor(x => x.SelectedOption, string.Empty, new { @class = "govuk-error-message" })

							<div class="govuk-radios__item">

								@if (isBusinessAddress)
								{
									<input class="govuk-radios__input"
										   id="same-address"
										   name="SelectedOption"
										   type="radio"
										   value="@AddressOptions.SiteAddress"
										   aria-controls="conditional-address" />

									<label class="govuk-label govuk-radios__label" for="same-address">
										@Localizer["SameAsBusinessAddress"]
									</label>
								}
								else
								{
									<input class="govuk-radios__input"
										   id="same-address"
										   name="SelectedOption"
										   type="radio"
										   value="@AddressOptions.RegisteredAddress"
										   aria-controls="conditional-address" />

									<label class="govuk-label govuk-radios__label" for="same-address">
										@Localizer["SameAsRegisteredAddress"]
									</label>
								}

								<div class="govuk-radios__conditional" id="conditional-address">
									<div class="govuk-body">
										<strong>@Localizer["BusinessAddressCaption"]</strong><br>
										@if (!string.IsNullOrEmpty(address?.AddressLine1))
										{
											@address.AddressLine1
											<br>
										}
										@if (!string.IsNullOrEmpty(address?.AddressLine2))
										{
											@address.AddressLine2
											<br>
										}
										@if (!string.IsNullOrEmpty(address?.TownOrCity))
										{
											@address.TownOrCity
											@if (!string.IsNullOrEmpty(address?.County))
											{
												<text>, @address.County</text>
											}
											<br>
										}
										else if (!string.IsNullOrEmpty(address?.County))
										{
											@address.County
											<br>
										}
										@if (!string.IsNullOrEmpty(address.Postcode))
										{
											@address.Postcode
										}
									</div>
								</div>
							</div>

							<div class="govuk-radios__item">
								<input class="govuk-radios__input"
									   id="DifferentAddress"
									   name="SelectedOption"
									   type="radio"
									   value="@AddressOptions.DifferentAddress">
								<label class="govuk-label govuk-radios__label" for="DifferentAddress">
									@Localizer["DifferentAddress"]
								</label>
							</div>
						</div>
					</fieldset>
				</div>

				<button type="submit" class="govuk-button" data-module="govuk-button">
					@SharedLocalizer["Continue"]
				</button>

			}
		</div>
	</div>

</main>