@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration
@model ExemptionReferencesViewModel
@{
	ViewData["Title"] = Localizer["exemption_references_page_title"];
	ViewData["PageDescription"] = Localizer["exemption_references_page_description"];
	ViewData["UseNewLayout"] = true;
}

<h1 class="govuk-heading-l">@Localizer["ExemptionPageTitle"]</h1>

<form asp-controller="Registration" asp-action="ExemptionReferences" method="post">
	<form-group asp-for="ExemptionReferences1">
		<input class="govuk-input govuk-input--width-20" id="ExemptionReferences1" value="@Model.ExemptionReferences1" name="ExemptionReferences1" type="text">
	</form-group>
	<form-group asp-for="ExemptionReferences2">
		<input class="govuk-input govuk-input--width-20" id="ExemptionReferences2" value="@Model.ExemptionReferences2" name="ExemptionReferences2" type="text">
	</form-group>
	<form-group asp-for="ExemptionReferences3">
		<input class="govuk-input govuk-input--width-20" id="ExemptionReferences3" value="@Model.ExemptionReferences3" name="ExemptionReferences3" type="text">
	</form-group>
	<form-group asp-for="ExemptionReferences4">
		<input class="govuk-input govuk-input--width-20" id="ExemptionReferences4" value="@Model.ExemptionReferences4" name="ExemptionReferences4" type="text">
	</form-group>
	<form-group asp-for="ExemptionReferences5">
		<input class="govuk-input govuk-input--width-20" id="ExemptionReferences5" value="@Model.ExemptionReferences5" name="ExemptionReferences5" type="text">
	</form-group>
	
	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>