@using Epr.Reprocessor.Exporter.UI.Enums
@using Epr.Reprocessor.Exporter.UI.Extensions

@model ProvideGridReferenceOfReprocessingSiteViewModel

@{
	ViewData["Title"] = Localizer["grid_reference_page_title"];
	ViewData["PageDescription"] = Localizer["grid_reference_page_description"];
	ViewData["UseNewLayout"] = true;
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}


<form asp-controller="Registration" asp-action="ProvideGridReferenceOfReprocessingSite" method="post">

	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset" aria-describedby="">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
				<h1 class="govuk-fieldset__heading"> @Localizer["enter_site_grid_reference"]</h1>
			</legend>
			<div class="govuk-hint">
				@Localizer["site_grid_reference_hint_text"]
			</div>

			<div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : "")">
				@if (!ViewData.ModelState.IsValid)
				{
					@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("GridReference"))
				}
				<label class="govuk-visually-hidden" for="GridReference" aria-hidden="true">
					@Localizer["enter_site_grid_reference"]
				</label>
				@Html.TextBoxFor(x => x.GridReference, new
					{
						@class = $"govuk-input govuk-input--width-10 {@Html.Raw(errorsViewModel.HasErrorKey(nameof(ProvideGridReferenceOfReprocessingSiteViewModel.GridReference)) ? "govuk-input--error" : "")}"
					})
			</div>
		</fieldset>
	</div>
	<div class="govuk-button-group">
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</div>
</form>