@using Epr.Reprocessor.Exporter.UI.App.Constants
@model SelectAddressForReprocessingSiteViewModel
@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration;
@{
	ViewData["Title"] = Localizer["SelectAddressForReprocessingSitePageTitle"];
	var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsVM)
			}

			<h1 class="govuk-heading-l">
				@Localizer["SelectAddressForReprocessingSitePageTitle"]
			</h1>

			<p class="govuk-body">
				@Model.Addresses.Count @Localizer["AddressesFoundFor"] @Model.Postcode
				<a href="@PagePaths.PostcodeOfReprocessingSite" class="govuk-link">
					@Localizer["SearchAgain"]
				</a>
			</p>

			<table class="govuk-table">
				<caption class="govuk-visually-hidden">Search result for @Model.Postcode</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">@Localizer["Address"]</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">

					@for (int i = 0; i < Model.Addresses.Count; i++)
					{
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">
								<a asp-action="SelectedAddressForReprocessingSite"
								   asp-route-postcode="@Model.Addresses[i].Postcode"
								   asp-route-SelectedIndex="@i">
									@Model.Addresses[i].FormattedAddress
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<p class="govuk-body">
				<a href="@PagePaths.ManualAddressForReprocessingSite" class="govuk-link">
					@Localizer["EnterAddressManually"]
				</a>
			</p>

		</div>
	</div>

</main>
