@using Epr.Reprocessor.Exporter.UI.App.Extensions
@using Epr.Reprocessor.Exporter.UI.ViewModels.Reprocessor
@using TaskStatus = Epr.Reprocessor.Exporter.UI.App.Enums.TaskStatus

@model TaskListModel
@{
    ViewData["Title"] = @Localizer["RxExRegistrationTaskList.PageTitle"];
    ViewData["UseNewLayout"] = true;
    ViewData["UseFullColumnWidth"] = true;
}

<form-group asp-for="TaskList">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                @Localizer["RxExRegistrationTaskList.Title"]
            </h1>
            <br>
            <p class="govuk-body-s">@Localizer["RxExRegistrationTaskList.Title.Hint"]</p>
        </legend>


        <gov-table>
            <table-caption is-hidden="true">Tasks list</table-caption>

            <table-head>
                <table-row>
                    <table-header></table-header>
                    <table-header></table-header>
                    <table-header></table-header>
                </table-row>
            </table-head>
            <table-body>
                @foreach (var task in Model.TaskList)
                {
                    if (!task.Enabled)
                    {
                        continue;
                    }

                    <table-row>
                        <table-data>
                            @if (task.TaskName == TaskType.WasteLicensesPermitsAndExemptions && Model.WasteLicenseStatus == TaskStatus.NotStart)
                            {
                                <a class="govuk-link" href=@task.Url>@task.TaskName.GetDisplayName()</a>
                            }
                            else if (task.Status == TaskStatus.CannotStartYet)
                            {
                                @task.TaskName.GetDisplayName()
                            }
                            else
                            {
                                <a class="govuk-link" href=@task.Url>@task.TaskName.GetDisplayName()</a>
                            }
                        </table-data>

                        <table-data></table-data>
                        <table-data>
                            <div class="govuk-task-list__status" id="company-details-2-status">
                                <task-list-status asp-task-status="@task.Status">
                                    @if (task.TaskName == TaskType.WasteLicensesPermitsAndExemptions && Model.WasteLicenseStatus == TaskStatus.NotStart)
                                    {
                                        @Model.WasteLicenseStatus.GetDescription()
                                    }
                                    else
                                    {
                                        @task.Status.GetDescription()
                                    }
                                </task-list-status>
                            </div>
                        </table-data>
                    </table-row>
                }
            </table-body>
        </gov-table>

        @if (Model.HaveAllBeenCompleted)
        {
            <div></div>
        }
    </fieldset>
</form-group>