@using Epr.Reprocessor.Exporter.UI.App.Extensions
@using Epr.Reprocessor.Exporter.UI.ViewModels.Reprocessor
@model TaskListModel
@{
	ViewData["Title"] = @Localizer["RxExRegistrationTaskList.PageTitle"];
	ViewData["UseNewLayout"] = true;
	ViewData["UseFullColumnWidth"] = true;
}

<form-group asp-for="TaskList">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
			<h1 class="govuk-fieldset__heading">
			@Localizer["RxExRegistrationTaskList.Title"]
			</h1>
			<br>
		<h2 class="govuk-body-s">@Localizer["RxExRegistrationTaskList.Title.Hint"]</h2>
		</legend>
	

		<table class="govuk-table" >
		<caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Tasks list</caption>

			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header"></th> 
					<th scope="col" class="govuk-table__header"></th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				@foreach (var task in Model.TaskList)
				{
					if (!task.Enabled)
					{
						continue;
					}

					<tr class="govuk-table__row">
						<td class="govuk-table__cell">
							<a href=@task.Url>@task.TaskName.GetDisplayName()</a>
						</td>

						<td class="govuk-table__cell"></td>
						<td class="govuk-table__cell">
							<div class="govuk-task-list__status" id="company-details-2-status">
								<strong class="govuk-tag govuk-tag--grey">
									@task.Status.GetDescription()
								</strong>
							</div>
						</td>
					</tr>
				} 
			</tbody>
		</table>

		@if (Model.HaveAllBeenCompleted)
		{
			<div></div>
		}
	</fieldset>
</form-group>