@using Epr.Reprocessor.Exporter.UI.App.Enums
@model UKSiteLocationViewModel
@{
	ViewData["Title"] = Localizer["select_the_country_the_reprocessing_site_page_title"];
	ViewData["PageDescription"] = Localizer["select_the_country_the_reprocessing_site_page_description"];
	ViewData["UseNewLayout"] = true;
}

 <form asp-controller="Registration" asp-action="UKSiteLocation" method="post">
	<form-group asp-for="SiteLocationId">
		<fieldset class="govuk-fieldset">
			<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
				<h1 class="govuk-fieldset__heading">@Localizer["where_in_the_UK_is_the_reprocessing_site_located"]</h1>
			</legend>
			
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("SiteLocationId"))
			}

			<radios-container>
				<radio-item>
					@Html.RadioButtonFor(m => m.SiteLocationId, nameof(UkNation.England), new { Id = "SiteLocationId", @class="govuk-radios__input", @aria_label="AuthorisationPermitType", })
					<label class="govuk-label govuk-radios__label"
						   gov-for="SiteLocationId"
						   gov-value="@nameof(UkNation.England)"
						   gov-first-option="true">
						@UkNation.England.GetDisplayName()
					</label>
				</radio-item>
	
				<radio-item>
					@Html.RadioButtonFor(m => m.SiteLocationId, nameof(UkNation.NorthernIreland), new { Id = "SiteLocationId-2",@class="govuk-radios__input", @aria_label="AuthorisationPermitType" })
					<label class="govuk-label govuk-radios__label"
						   gov-for="SiteLocationId-2"
						   gov-value="@nameof(UkNation.NorthernIreland)">
						@UkNation.NorthernIreland.GetDisplayName()
					</label>
				</radio-item>
	
				<radio-item>
					@Html.RadioButtonFor(m => m.SiteLocationId, nameof(UkNation.Scotland), new { Id = "SiteLocationId-3", @class="govuk-radios__input", @aria_label="AuthorisationPermitType" })
					<label class="govuk-label govuk-radios__label"
						   gov-for="SiteLocationId-3"
						   gov-value="@nameof(UkNation.Scotland)">
						@UkNation.Scotland.GetDisplayName()
					</label>
				</radio-item>
	
				<radio-item>
					@Html.RadioButtonFor(m => m.SiteLocationId, nameof(UkNation.Wales), new { Id = "SiteLocationId-4", @class="govuk-radios__input", @aria_label="AuthorisationPermitType" })
					<label class="govuk-label govuk-radios__label"
						   gov-for="SiteLocationId-4"
						   gov-value="@nameof(UkNation.Wales)">
						@UkNation.Wales.GetDisplayName()
					</label>
				</radio-item>
			</radios-container>
		</fieldset>
	</form-group>
	
	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>
