@model Epr.Reprocessor.Exporter.UI.ViewModels.Shared.InputFieldViewModel;

<div class="govuk-form-group @(Model.HasError ? "govuk-form-group--error" : "")">
    <h3 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--s" for="@Model.FieldName" id="@Model.FieldName + 'Label'">
            @Model.LabelText
        </label>
    </h3>

    <p class="govuk-hint">@Model.LabelDesc</p>

    <div class="govuk-input__wrapper">
        <input asp-for="@Model.FieldName" class="govuk-input govuk-input--width-5" id="@Model.FieldName" name="@Model.FieldName" value="@Model.Value" step="0.01" data-testid="@Model.FieldName" type="number" spellcheck="false">
        <div class="govuk-input__suffix" aria-hidden="true">%</div>
    </div>

    @if (Model.HasError)
    {
        <span class="govuk-error-message" data-testid="error-text">
            <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
        </span>
    }
</div>