@model InputLastCalenderYearViewModel
@{
	ViewData["Title"] = Localizer["page_title"];
	ViewData["PageDescription"] = Localizer["page_description"];
}

@* 
@section Styles {
	<link href="~/css/registration-radio-buttons.css" rel="stylesheet" />
}
*@

<form asp-controller="ReprocessingInputsAndOutputs" asp-action="InputLastCalenderYear" method="post">
	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("SelectedRegistrationMaterials")) <!-- need to check-->
			}
            <h1 class="govuk-heading-l">Input for last calender (@Model.PreviousYear)</h1>
            <div id="more-detail-hint" class="govuk-hint">
                Regulators need to know the mix of waste types and raw materials used in your recycling process.
            </div>

            <div class="govuk-form-group" asp-for="UkPackagingWaste">
                <p class="govuk-error-message">
                    <span asp-validation-for="UkPackagingWaste"></span>
                </p>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="uk-packaging-waste">
                        UK @Model.MaterialName.ToLower() packaging waste
                    </label>
                </h1>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="UkPackagingWaste" name="UkPackagingWaste" type="text" asp-for="UkPackagingWaste" autocomplete="off"/>
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
            </div>

            <div class="govuk-form-group" asp-for="NonUkPackagingWaste">
                <p class="govuk-error-message">
                    <span asp-validation-for="NonUkPackagingWaste"></span>
                </p>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="non-uk-packaging-waste">
                        Non-UK @Model.MaterialName.ToLower() packaging waste
                    </label>
                </h1>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="NonUkPackagingWaste" name="NonUkPackagingWaste" type="text" asp-for="NonUkPackagingWaste" autocomplete="off"/>
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
            </div>

            <div class="govuk-form-group" asp-for="NonPackagingWaste">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="non-packaging-waste">
                        @Model.MaterialName that’s not packaging waste
                    </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    An input to the recycling process, but it’s not packaging waste.
                </div>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" id="NonPackagingWaste" name="NonPackagingWaste" type="text" asp-for="NonPackagingWaste" />
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
            </div>
 
		</fieldset>
	</div>
    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m" for="cost-per-item">
                Raw materials
            </label>
        </h1>
        <div id="more-detail-hint" class="govuk-hint">
            Enter the names and tonnages of all the raw materials used in your recycling process. For example, water, starch.
        </div>

        <div class="rows-container">
                @for (var i = 0; i < 10; i++)
                {
                    <div class="govuk-form-group" asp-for="Rows[i].Type">
                        <div class="govuk-form-group" asp-for="Rows[i].Tonnes">
                                <div class="govuk-input__wrapper">
                                    <input class="govuk-input govuk-input--width-10 govuk-!-margin-right-4" type="text" >

                                    <div class="govuk-input__wrapper">
                                        <input class="govuk-input govuk-input--width-5" type="text" autocomplete="off" />
                                        <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                }
            </div>
    </div>


	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>