@model MaterialNotReprocessReasonModel
@{
	ViewData["Title"] = "Type of suppliers you get packaging waste from";
	ViewData["PageDescription"] = "Register as a reprocessor of UK packaging waste. Type of suppliers you get packaging waste from";
	ViewData["UseNewLayout"] = true;
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<form asp-controller="ReprocessingInputsAndOutputs" asp-action="MaterialNotReprocessReason" method="post">
	<input type="hidden" name="MaterialId" value="@Model.MaterialId" />
	<input type="hidden" name="MaterialName" value="@Model.MaterialName" />
	<h1 class="govuk-heading-l">
		<label for="MaterialNotReprocessReason">
			Enter the reason you are not reprocessing @Model.MaterialName packaging waste
		</label>
	</h1>
	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("MaterialNotReprocessReason"))
			}

			<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "") govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
				<textarea class="govuk-textarea govuk-js-character-count @(errorsViewModel.HasErrorKey("MaterialNotReprocessReason") ? "govuk-textarea--error" : string.Empty)"
						  id="MaterialNotReprocessReason" data-testid="MaterialNotReprocessReason" name="MaterialNotReprocessReason" rows="5" aria-describedby="MaterialNotReprocessReason-info">@Model.MaterialNotReprocessReason</textarea>
				<div id="MaterialNotReprocessReason-info" class="govuk-hint govuk-character-count__message govuk-character-count__status">
					You can enter up to 500 characters
				</div>
			</div>
		</fieldset>
	</div>

	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>