@model ReprocessingInputsViewModel
@{
    ViewData["Title"] = "Reprocessing inputs for last calendar year";
    ViewData["PageDescription"] = "Register as a reprocessor of UK packaging waste. Reprocessing inputs for last calendar year";
    ViewData["UseNewLayout"] = true;
}

<form asp-controller="ReprocessingInputsAndOutputs" asp-action="InputsForLastCalendarYear" method="post">
	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
            @if (@Model.InputsLastCalendarYearFlag)
            {
                <h1 class="govuk-heading-l">Input for last calender (@Model.PreviousYear)</h1>
            }
            else
            {
                <h1 class="govuk-heading-l">Estimate the site’s annual inputs</h1>
            }

            <div id="more-detail-hint" class="govuk-hint">
                Regulators need to know the mix of waste types and raw materials used in your recycling process.
            </div>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="UkPackagingWaste">
                        UK @Model.MaterialName packaging waste
                    </label>
                </h1>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" type="text" asp-for="UkPackagingWaste" autocomplete="off"/>
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="UkPackagingWaste" class="govuk-error-message"></span>
            </div>

            <div class="govuk-form-group" >
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="NonUkPackagingWaste">
                        Non-UK @Model.MaterialName packaging waste
                    </label>
                </h1>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5"  type="text" asp-for="NonUkPackagingWaste" autocomplete="off"/>
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="NonUkPackagingWaste" class="govuk-error-message"></span>
            </div>

            <div class="govuk-form-group" >
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="NonPackagingWaste">
                        @Model.MaterialName that’s not packaging waste
                    </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    An input to the recycling process, but it’s not packaging waste.
                </div>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" type="text" asp-for="NonPackagingWaste" autocomplete="off" />
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="NonPackagingWaste" class="govuk-error-message"></span>
            </div>
 
		</fieldset>
	</div>
    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
        <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m">
                Raw materials
            </label>
        </h1>

        <div id="more-detail-hint" class="govuk-hint">
            Enter the names and tonnages of all the raw materials used in your recycling process. For example, water, starch.
        </div>

        <div class="rows-container">
            @for (var i = 0; i < Model.RawMaterials.Count; i++)
            {
                <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10 govuk-!-margin-right-4" type="text" asp-for="RawMaterials[i].RawMaterialName">

                        <div class="govuk-input__wrapper">
                            <input class="govuk-input govuk-input--width-5" type="text" asp-for="RawMaterials[i].Tonnes" autocomplete="off" />
                            <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                        </div>
                    </div>
                    <span asp-validation-for="RawMaterials[i].RawMaterialName" class="govuk-error-message"></span>
                    <span asp-validation-for="RawMaterials[i].Tonnes" class="govuk-error-message"></span>
                </div>
            }
        </div>

    </div>

	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>

</form>