@model ReprocessedMaterialOutputSummaryModel
@{
    ViewData["Title"] = Localizer["page_title"];
    ViewData["PageDescription"] = Localizer["page_description"];
    ViewData["UseNewLayout"] = true;
}

<form class="form" asp-controller="ReprocessingInputsAndOutputs" asp-action="ReprocessingOutputsForLastYear" method="POST">
    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    @Localizer["Page_heading", DateTime.Now.Year - 1]
                </h1>
            </legend>

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="SentToOtherSiteTonnes">
                        @Localizer["OtherSite_heading", Model.MaterialName]
                    </label>
                </h1>
                <div id="SentToOtherSiteTonnes-detail-hint" class="govuk-hint">
                    @Localizer["OtherSite_heading_desc"]
                </div>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" type="text" asp-for="SentToOtherSiteTonnes" autocomplete="off" />
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="SentToOtherSiteTonnes" class="govuk-error-message"></span>
            </div>


            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="ContaminantTonnes">
                        @Localizer["Contaminants_heading", Model.MaterialName]
                    </label>
                </h1>
                <div id="ContaminantTonnes-detail-hint" class="govuk-hint">
                    @Localizer["Contaminants_heading_desc"]
                </div>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" type="text" asp-for="ContaminantTonnes" autocomplete="off" />
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="ContaminantTonnes" class="govuk-error-message"></span>
            </div>
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="ProcessLossTonnes">
                        @Localizer["Totalloss_heading", Model.MaterialName]
                    </label>
                </h1>
                <div id="ProcessLossTonnes-detail-hint" class="govuk-hint">
                    @Localizer["Totalloss_heading_desc"]
                </div>

                <div class="govuk-input__wrapper">
                    <input class="govuk-input govuk-input--width-5" type="text" asp-for="ProcessLossTonnes" autocomplete="off" />
                    <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                </div>
                <span asp-validation-for="ProcessLossTonnes" class="govuk-error-message"></span>
            </div>


        </fieldset>
    </div>
    <div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
        <h1 class="govuk-label-wrapper">
            <span class="govuk-label govuk-label--m" for="ProductsMadeFrom"
                  aria-label="Products made from reprocessing">
                @Localizer["ProductsMadeFrom_heading"]
            </span>
        </h1>

        <div id="ProductsMadeFrom-detail-hint" class="govuk-hint">
            @Localizer["ProductsMadeFrom_heading_desc"]
        </div>

        <div class="rows-container">
            @for (var i = 0; i < Model.ReprocessedMaterialsRawData.Count; i++)
            {
                <div class="govuk-form-group">
                    <div class="govuk-input__wrapper">
                        <input class="govuk-input govuk-input--width-10 govuk-!-margin-right-4 material-name"
                               id="ReprocessedMaterialsRawData[@i].MaterialOrProductName" title="Material or product name"
                               aria-label="Material or Product name" type="text"
                               asp-for="ReprocessedMaterialsRawData[i].MaterialOrProductName">

                        <div class="govuk-input__wrapper" id="ReprocessedTonnes_@i">
                            <input class="govuk-input govuk-input--width-5 reprocessed-tonnes" type="text"
                                   id="ReprocessedMaterialsRawData[@i].ReprocessedTonnes" title="Reprocessed tonnes"
                                   aria-label="Reprocessed tonnes"
                                   asp-for="ReprocessedMaterialsRawData[i].ReprocessedTonnes" autocomplete="off" />
                            <div class="govuk-input__suffix" aria-hidden="true">tonnes</div>
                        </div>
                    </div>
                    <span asp-validation-for="ReprocessedMaterialsRawData[i].MaterialOrProductName" class="govuk-error-message"></span>
                    <span asp-validation-for="ReprocessedMaterialsRawData[i].ReprocessedTonnes" class="govuk-error-message"></span>
                </div>
            }
        </div>

    </div>
    <button-group>
        <button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
            @SharedLocalizer["saveandcontinue"]
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
            @SharedLocalizer["saveandcomebacklater"]
        </button>
    </button-group>
</form>
