@model TypeOfSuppliersViewModel
@{
	ViewData["Title"] = "Type of suppliers you get packaging waste from";
	ViewData["PageDescription"] = "Register as a reprocessor of UK packaging waste. Type of suppliers you get packaging waste from";
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@section Styles {
	<link href="~/css/registration-radio-buttons.css" rel="stylesheet" />
}

<h1 class="govuk-heading-l">List the type of suppliers you get @Model.MaterialName packaging waste from</h1>

<form asp-controller="ReprocessingInputsAndOutputs" asp-action="TypeOfSuppliers" method="post">
	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("TypeOfSuppliers"))
			}

			<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "") govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
				<textarea class="govuk-textarea govuk-js-character-count @(errorsViewModel.HasErrorKey("TypeOfSuppliers") ? "govuk-textarea--error" : string.Empty)"
						  id="TypeOfSuppliers" data-testid="TypeOfSuppliers" name="TypeOfSuppliers" rows="5" aria-describedby="TypeOfSuppliers-info">@Model.TypeOfSuppliers</textarea>
				<div id="Comments-info" class="govuk-hint govuk-character-count__message govuk-character-count__status">
					You can enter up to 500 characters
				</div>
				<div class="govuk-hint govuk-character-count__message"></div>
			</div>
		</fieldset>
	</div>

	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>