@using Epr.Reprocessor.Exporter.UI.App.Constants
@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@using Epr.Reprocessor.Exporter.UI.ViewModels.Shared
@model BusinessPlanViewModel;
@{
    ViewData["Title"] = Localizer["title"];
    ViewData["PageDescription"] = Localizer["page_description"];
    var scriptNonce = (string?)Context.Items[ContextKeys.ScriptNonceKey];
    var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                @if (!ViewData.ModelState.IsValid)
                {
                    @await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsVM)
                }

                @using (Html.BeginForm("BusinessPlan", "Accreditation", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.ExternalId)
                    @Html.HiddenFor(m => m.MaterialName)
                    @Html.HiddenFor(m => m.Subject)

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="lead_para_1">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-fieldset__heading" id="heading">
                                    @Localizer["heading"]
                                </h1>
                            </legend>

                            <div id="lead_para_1" class="govuk-hint">
                                @(string.Format(Localizer["lead_para_1"].Value, Model.MaterialName.ToLower(), Model.Subject))
                            </div>

                            <div id="lead_para_2" class="govuk-hint">
                                @Localizer["lead_para_2"]
                            </div>
                            <br>

                            @foreach (var field in new[]
                            {
                                new {FieldName = "InfrastructurePercentage", Label = "new_reprocessing_infrastructure"},
                                new {FieldName = "PackagingWastePercentage", Label = "price_support"},
                                new {FieldName = "BusinessCollectionsPercentage", Label = "support_for_business_collections"},
                                new {FieldName = "CommunicationsPercentage", Label = "communications"},
                                new {FieldName = "NewMarketsPercentage", Label = "developing_new_markets"},
                                new {FieldName = "NewUsesPercentage", Label = "developing_new_uses_for_recycled_waste"},
                                new {FieldName = "OtherPercentage", Label = "activities_or_investments"}
                            })
                            {
                                @await Html.PartialAsync("Partials/Govuk/_PercentageInput", new InputFieldViewModel
                                {
                                    FieldName = field.FieldName,
                                    Value = (decimal?)Model.GetType().GetProperty(field.FieldName)?.GetValue(Model),
                                    LabelText = Localizer[field.Label].Value,
                                    LabelDesc = Localizer["label_enter_whole_percentage"].Value,
                                    HasError = ViewData.ModelState[field.FieldName]?.Errors?.Count > 0,
                                    ErrorMessage = ViewData.ModelState[field.FieldName]?.Errors.FirstOrDefault()?.ErrorMessage
                                })
                            }

                            <br>

                            <div class="govuk-warning-text">
                                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                <strong class="govuk-warning-text__text">
                                    <span class="govuk-visually-hidden">Warning</span>
                                    @Localizer["warning_total_must_be_100"]
                                </strong>
                            </div>

                            @await Html.PartialAsync("Partials/Govuk/_PercentageInput", new InputFieldViewModel
                            {
                               FieldName = "TotalEntered",
                               LabelText = @Localizer["total_entered"].Value,
                               HasError = ViewData.ModelState["TotalEntered"]?.Errors?.Count > 0,
                               ErrorMessage = ViewData.ModelState["TotalEntered"]?.Errors.FirstOrDefault()?.ErrorMessage
                            })

                        </fieldset>
                    </div>
                    <br>

                    <div class="govuk-button-group">
                        <button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
                            @SharedLocalizer["saveandcontinue"]
                        </button>
                        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
                            @SharedLocalizer["saveandcomebacklater"]
                        </button>
                    </div>
                }
            </div>
        </div>
    </main>
   
</div>

@section Scripts {
    <script type="text/javascript" nonce="@scriptNonce">
        const inputs = document.querySelectorAll('input[type="number"]:not(#TotalEntered)');
        const totalDisplay = document.getElementById("TotalEntered");

        function updateTotal() {
            let total = 0;
            inputs.forEach(i => {
                const val = parseFloat(i.value);
                if (!isNaN(val)) {
                    total += val;
                }
            });
            totalDisplay.value = total;
        }

        inputs.forEach(input => {
            input.addEventListener("input", updateTotal);
        });

        updateTotal();
    </script>
}
