@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@using Epr.Reprocessor.Exporter.UI.App.Constants

@model SelectOverseasSitesViewModel
@{
    ViewData["Title"] = Localizer["title"];
}

<h1 class="govuk-heading-l" data-testid="heading">@Localizer["heading"]</h1>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" class="govuk-form-group" asp-antiforgery="true">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">@Localizer["name"]</th>
                                <th scope="col" class="govuk-table__header"></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var site in Model.OverseasSites.Where(s => Model.SelectedOverseasSites.Contains(s.Value)))
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">@site.Text</td>
                                    <td class="govuk-table__cell">
                                        <button type="submit"
                                                name="removeSite"
                                                value="@site.Value"
                                                class="govuk-link govuk-button--link"
                                                data-testid="remove-site-@site.Value">
                                            @Localizer["remove"]
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @* Keep the selected sites in the form for model binding *@
                    @foreach (var selected in Model.SelectedOverseasSites)
                    {
                        <input type="hidden" name="SelectedOverseasSites" value="@selected" />
                    }
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" name="action" data-testid="continue" value="continue" data-module="govuk-button">
                            @SharedLocalizer["saveandcontinue"]
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" name="action" data-testid="save" value="save" data-module="govuk-button">
                            @SharedLocalizer["saveandcomebacklater"]
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>