@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model CheckAnswersViewModel

@{
    ViewData["Title"] = Localizer["page_title", Model.Subject, Model.Subject];
    ViewData["PageDescription"] = Localizer["page_description", Model.Subject, Model.Subject];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginForm("CheckAnswers", "Accreditation", FormMethod.Post))
            {
                <h1 class="govuk-heading-l">@Localizer["main_heading"]</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["prn_tonnage_label", ViewBag.Subject]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.PrnTonnage
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="Accreditation" asp-action="PrnTonnage" asp-route-accreditationId="@Model.AccreditationId">
                                @SharedLocalizer["change"]
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["authority_label", ViewBag.Subject]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.AuthorisedUsers
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" asp-controller="Accreditation" asp-action="SelectAuthority" asp-route-accreditationId="@Model.AccreditationId">
                                @SharedLocalizer["change"]
                            </a>
                        </dd>
                    </div>
                </dl>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
                        @Localizer["confirm_and_continue"]
                    </button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
                        @Localizer["save_and_continue_later"]
                    </button>
                </div>
            }
        </div>
    </div>
</main>
