@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model CheckAnswersViewModel

@{
    ViewData["Title"] = Localizer["page_title", Model.Subject, Model.Subject];
    ViewData["PageDescription"] = Localizer["page_description", Model.Subject, Model.Subject];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @using (Html.BeginRouteForm(Model.FormPostRouteName, FormMethod.Post))
            {
                @Html.HiddenFor(m => m.Subject)
                @Html.HiddenFor(m => m.AccreditationId)
                <h1 class="govuk-heading-l">@Localizer["main_heading"]</h1>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["prn_tonnage_label", Model.Subject]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @{
                                string tonnageKey = Model.PrnTonnage switch
                                {
                                    500 => "up_to_500_tonnes",
                                    5000 => "up_to_5000_tonnes",
                                    10000 => "up_to_10000_tonnes",
                                    10001 => "over_10000_tonnes",
                                    _ => null
                                };
                            }

                            @if (tonnageKey != null)
                            {
                                @Localizer[tonnageKey].Value
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@Model.TonnageChangeRoutePath" asp-route-accreditationId="@Model.AccreditationId">
                                @SharedLocalizer["change"]
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            @Localizer["authority_label", Model.Subject]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.AuthorisedUsers
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" asp-route="@Model.AuthorisedUserChangeRoutePath" asp-route-accreditationId="@Model.AccreditationId">
                                @SharedLocalizer["change"]
                            </a>
                        </dd>
                    </div>
                </dl>

                <div class="govuk-button-group">
                    <button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
                        @Localizer["confirm_and_continue"]
                    </button>
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
                        @Localizer["save_and_continue_later"]
                    </button>
                </div>
            }
        </div>
    </div>
</main>
