@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model EvidenceOfEquivalentStandardsCheckYourEvidenceAnswersViewModel

@{
	ViewData["Title"] = @Localizer["title"];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
			}
			@using (Html.BeginForm("EvidenceOfEquivalentStandardsCheckYourEvidenceAnswers", "Accreditation", FormMethod.Post))
			{
				<h1 class="govuk-heading-xl" data-testid="title">
					@Localizer["title"]
				</h1>

				<h3 class="govuk-heading-m" data-testid="sub-title">
					@Localizer["sub-title", Localizer[Model.SiteName]]
				</h3>

				<div class="govuk-inset-text">
					@Model.SiteName
					<br />
					@Model.SiteAddressLine1
					<br />
					@Model.SiteAddressLine2
					<br />
					@Model.SiteAddressLine3
				</div>

				<dl class="govuk-summary-list">
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							@Localizer["file-uploaded"]
						</dt>
						<dd class="govuk-summary-list__value">
							@Model.UploadedFile
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">@Localizer["change"]</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							@Localizer["start-date-of-evidence"]
						</dt>
						<dd class="govuk-summary-list__value">
							@Model.ValidFrom
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">@Localizer["change"]</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							@Localizer["expire-date-of-evidence"]
						</dt>
						<dd class="govuk-summary-list__value">
							@Model.ExpireDate
						</dd>
						<dd class="govuk-summary-list__actions">
							<a class="govuk-link" href="#">@Localizer["change"]</a>
						</dd>
					</div>
					<div class="govuk-summary-list__row">
						<dt class="govuk-summary-list__key">
							@Localizer["more-evidence"]
						</dt>
						<dd class="govuk-summary-list__value">
							@Localizer[@Model.MoreEvidenceUpload.ToString()]
						</dd>
						<dd class="govuk-summary-list__actions">
							<ul class="govuk-summary-list__actions-list">
								<li class="govuk-summary-list__actions-list-item">
									<a class="govuk-link" href="#">@Localizer["change"]</a>
								</li>
							</ul>
						</dd>
					</div>
				</dl>

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
						@SharedLocalizer["saveandcontinue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
						@SharedLocalizer["saveandcomebacklater"]
					</button>
				</div>
			}
		</div>
	</div>
</main>
