@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model EvidenceOfEquivalentStandardsUploadDocumentViewModel

@{
	ViewData["Title"] = @Localizer["title", Localizer[Model.SiteName]];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
			}
			@using (Html.BeginForm("EvidenceOfEquivalentStandardsUploadDocument", "Accreditation", FormMethod.Post))
			{
				<h1 class="govuk-heading-xl" data-testid="title">
					@Localizer["title", Localizer[Model.SiteName]]
				</h1>

				<div class="govuk-inset-text">
					@Model.SiteName
					<br />
					@Model.SiteAddressLine1
					<br />
					@Model.SiteAddressLine2
					<br />
					@Model.SiteAddressLine3
				</div>

				<p class="govuk-body">
					@Localizer["upload_details"]
				</p>

				<h2 class="govuk-heading-l">
					@Localizer["check_if_documents"]
				</h2>

				<p class="govuk-body">
					@Localizer["check_if_documents_sub"]
				</p>

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset" role="group" aria-describedby="valid-from-hint">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<span class="govuk-heading-m">
								@Localizer["document_valid_from"]
							</span>
						</legend>
						<div id="valid-from-hint" class="govuk-hint">
							@Localizer["document_valid_from_leave_blank"]
						</div>
						<div class="govuk-date-input" id="valid-from">
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ValidFromDay">
										@Localizer["day"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ValidFromDay" name="ValidFromDay" type="text" inputmode="numeric">
								</div>
							</div>
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ValidFromMonth">
										@Localizer["month"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ValidFromMonth" name="ValidFromMonth" type="text" inputmode="numeric">
								</div>
							</div>
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ValidFromYear">
										@Localizer["year"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ValidFromYear" name="ValidFromYear" type="text" inputmode="numeric">
								</div>
							</div>
						</div>
					</fieldset>
				</div>

				<br />

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset" role="group" aria-describedby="expire-date-hint">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<span class="govuk-heading-m">
								@Localizer["document_expire"]
							</span>
						</legend>
						<div id="expire-date-hint" class="govuk-hint">
							@Localizer["document_expire_leave_blank"]
						</div>
						<div class="govuk-date-input" id="expire-date">
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ExpireDateDay">
										@Localizer["day"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ExpireDateDay" name="ExpireDateDay" type="text" inputmode="numeric">
								</div>
							</div>
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ExpireDateMonth">
										@Localizer["month"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="ExpireDateMonth" name="ExpireDateMonth" type="text" inputmode="numeric">
								</div>
							</div>
							<div class="govuk-date-input__item">
								<div class="govuk-form-group">
									<label class="govuk-label govuk-date-input__label" for="ExpireDateYear">
										@Localizer["year"]
									</label>
									<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="ExpireDateYear" name="ExpireDateYear" type="text" inputmode="numeric">
								</div>
							</div>
						</div>
					</fieldset>
				</div>

				<br />
				<hr />

				<div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">
					<label class="govuk-heading-l" for="UploadedFile">
						@Localizer["upload_file"]
					</label>
					<input class="govuk-file-upload" id="UploadedFile" name="UploadedFile" type="file">
				</div>

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
						@SharedLocalizer["saveandcontinue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
						@SharedLocalizer["saveandcomebacklater"]
					</button>
				</div>
			}
		</div>
	</div>
</main>
