@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model MoreDetailOnBusinessPlanViewModel

@{
	ViewData["Title"] = @Localizer["title"];
}

<main class="govuk-main-wrapper" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", ViewData.ModelState)
			}

			<h1 class="govuk-heading-l">@Localizer["title"]</h1>
			<p class="govuk-body-m">@Localizer["intro"]</p>

			@using (Html.BeginForm("MoreDetailOnBusinessPlan", "Accreditation", FormMethod.Post))
			{
				@Html.HiddenFor(m => m.ShowInfrastructure)
				@Html.HiddenFor(m => m.ShowPriceSupport)
				@Html.HiddenFor(m => m.ShowBusinessCollections)
				@Html.HiddenFor(m => m.ShowCommunications)
				@Html.HiddenFor(m => m.ShowNewMarkets)
				@Html.HiddenFor(m => m.ShowNewUses)

				@if (Model.ShowInfrastructure)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["Infrastructure"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="Infrastructure">
							@Localizer["infrastructure"]
						</label>
						@if (ViewData.ModelState["Infrastructure"] != null)
						{
							<p id="Infrastructure-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["Infrastructure_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["Infrastructure"] == null ? string.Empty : "govuk-textarea--error")"
								  id="Infrastructure" data-testid="Infrastructure" name="Infrastructure" rows="5" aria-describedby="Infrastructure-info">@Model.Infrastructure</textarea>
						<div id="Infrastructure-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				@if (Model.ShowPriceSupport)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["PriceSupport"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="PriceSupport">
							@Localizer["price_support"]
						</label>
						@if (ViewData.ModelState["PriceSupport"] != null)
						{
							<p id="PriceSupport-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["PriceSupport_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["PriceSupport"] == null ? string.Empty : "govuk-textarea--error")"
								  id="PriceSupport" data-testid="PriceSupport" name="PriceSupport" rows="5" aria-describedby="PriceSupport-info">@Model.PriceSupport</textarea>
						<div id="PriceSupport-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				@if (Model.ShowBusinessCollections)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["BusinessCollections"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="BusinessCollections">
							@Localizer["business_collections"]
						</label>
						@if (ViewData.ModelState["BusinessCollections"] != null)
						{
							<p id="BusinessCollections-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["BusinessCollections_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["BusinessCollections"] == null ? string.Empty : "govuk-textarea--error")"
								  id="BusinessCollections" data-testid="BusinessCollections" name="BusinessCollections" rows="5" aria-describedby="BusinessCollections-info">@Model.BusinessCollections</textarea>
						<div id="BusinessCollections-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				@if (Model.ShowCommunications)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["Communications"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="Communications">
							@Localizer["communications"]
						</label>
						@if (ViewData.ModelState["Communications"] != null)
						{
							<p id="Communications-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["Communications_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["Communications"] == null ? string.Empty : "govuk-textarea--error")"
								  id="Communications" data-testid="Communications" name="Communications" rows="5" aria-describedby="Communications-info">@Model.Communications</textarea>
						<div id="Communications-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				@if (Model.ShowNewMarkets)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["NewMarkets"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="NewMarkets">
							@Localizer["new_markets"]
						</label>
						@if (ViewData.ModelState["NewMarkets"] != null)
						{
							<p id="NewMarkets-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["NewMarkets_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["NewMarkets"] == null ? string.Empty : "govuk-textarea--error")"
								  id="NewMarkets" data-testid="NewMarkets" name="NewMarkets" rows="5" aria-describedby="NewMarkets-info">@Model.NewMarkets</textarea>
						<div id="NewMarkets-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				@if (Model.ShowNewUses)
				{
					<div class="govuk-form-group govuk-character-count @(ViewData.ModelState["NewUses"] == null ? string.Empty : "govuk-form-group--error")"
						 data-module="govuk-character-count" data-maxlength="300">
						<label class="govuk-label govuk-label--m" for="NewUses">
							@Localizer["new_uses"]
						</label>
						@if (ViewData.ModelState["NewUses"]?.Errors.Count > 0)
						{
							<p id="NewUses-error" class="govuk-error-message">
								<span class="govuk-visually-hidden">@Localizer["hidden_error"]</span> @Localizer["NewUses_max_length_error"]
							</p>
						}
						<textarea class="govuk-textarea govuk-js-character-count @(ViewData.ModelState["NewUses"] == null ? string.Empty : "govuk-textarea--error")"
								  id="NewUses" data-testid="NewUses" name="NewUses" rows="5" aria-describedby="NewUses-info">@Model.NewUses</textarea>
						<div id="NewUses-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 300]
						</div>
					</div>
				}

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
						@Localizer["saveandcontinue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
						@Localizer["saveandcomebacklater"]
					</button>
				</div>
			}
		</div>
	</div>
</main>