@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@using Epr.Reprocessor.Exporter.UI.Helpers
@model MoreDetailOnBusinessPlanViewModel

@{
	ViewData["Title"] = @Localizer["page_title", Model.Subject];
	var errorsVM = new ErrorsViewModel(
		ViewData.ModelState.ToErrorDictionary(),
		Localizer,
		[
			nameof(Model.Infrastructure),
			nameof(Model.PriceSupport),
			nameof(Model.BusinessCollections),
			nameof(Model.Communications),
			nameof(Model.NewMarkets),
			nameof(Model.NewUses),
			nameof(Model.Other),
		]
	);
}

<main class="govuk-main-wrapper" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsVM)
			}

			<h1 class="govuk-heading-l">@Localizer["h1_text", Model.Subject]</h1>

			@using (Html.BeginRouteForm(Model.FormPostRouteName, FormMethod.Post))
			{
				@Html.HiddenFor(m => m.AccreditationId)
				@Html.HiddenFor(m => m.Subject)
				@Html.HiddenFor(m => m.ApplicationTypeId)
				@Html.HiddenFor(m => m.FormPostRouteName)
				@Html.HiddenFor(m => m.ShowInfrastructure)
				@Html.HiddenFor(m => m.ShowPriceSupport)
				@Html.HiddenFor(m => m.ShowBusinessCollections)
				@Html.HiddenFor(m => m.ShowCommunications)
				@Html.HiddenFor(m => m.ShowNewMarkets)
				@Html.HiddenFor(m => m.ShowNewUses)
				@Html.HiddenFor(m => m.ShowOther)

				@if (Model.ShowInfrastructure)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("Infrastructure") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="Infrastructure">
							@Localizer["infrastructure"]
						</label>
						@Html.ValidationMessageFor(x => x.Infrastructure, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("Infrastructure") ? "govuk-textarea--error" : string.Empty)"
								  id="Infrastructure" data-testid="Infrastructure" name="Infrastructure" rows="5" aria-describedby="Infrastructure-info">@Model.Infrastructure</textarea>
						<div id="Infrastructure-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowPriceSupport)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("PriceSupport") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="PriceSupport">
							@Localizer["price_support"]
						</label>
						@Html.ValidationMessageFor(x => x.PriceSupport, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("PriceSupport") ? "govuk-textarea--error" : string.Empty)"
								  id="PriceSupport" data-testid="PriceSupport" name="PriceSupport" rows="5" aria-describedby="PriceSupport-info">@Model.PriceSupport</textarea>
						<div id="PriceSupport-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowBusinessCollections)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("BusinessCollections") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="BusinessCollections">
							@Localizer["business_collections"]
						</label>
						@Html.ValidationMessageFor(x => x.BusinessCollections, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("BusinessCollections") ? "govuk-textarea--error" : string.Empty)"
								  id="BusinessCollections" data-testid="BusinessCollections" name="BusinessCollections" rows="5" aria-describedby="BusinessCollections-info">@Model.BusinessCollections</textarea>
						<div id="BusinessCollections-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowCommunications)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("Communications") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="Communications">
							@Localizer["communications"]
						</label>
						@Html.ValidationMessageFor(x => x.Communications, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("Communications") ? "govuk-textarea--error" : string.Empty)"
								  id="Communications" data-testid="Communications" name="Communications" rows="5" aria-describedby="Communications-info">@Model.Communications</textarea>
						<div id="Communications-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowNewMarkets)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("NewMarkets") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="NewMarkets">
							@Localizer["new_markets"]
						</label>
						@Html.ValidationMessageFor(x => x.NewMarkets, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("NewMarkets") ? "govuk-textarea--error" : string.Empty)"
								  id="NewMarkets" data-testid="NewMarkets" name="NewMarkets" rows="5" aria-describedby="NewMarkets-info">@Model.NewMarkets</textarea>
						<div id="NewMarkets-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowNewUses)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("NewUses") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="NewUses">
							@Localizer["new_uses"]
						</label>
						@Html.ValidationMessageFor(x => x.NewUses, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("NewUses") ? "govuk-textarea--error" : string.Empty)"
								  id="NewUses" data-testid="NewUses" name="NewUses" rows="5" aria-describedby="NewUses-info">@Model.NewUses</textarea>
						<div id="NewUses-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				@if (Model.ShowOther)
				{
					<div class="govuk-form-group govuk-character-count @(errorsVM.HasErrorKey("Other") ? "govuk-form-group--error" : string.Empty)"
						 data-module="govuk-character-count" data-maxlength="500">
						<label class="govuk-label govuk-label--m" for="Other">
							@Localizer["other_activities"]
						</label>
						@Html.ValidationMessageFor(x => x.Other, string.Empty, new { @class = "govuk-error-message" })
						<textarea class="govuk-textarea govuk-js-character-count @(errorsVM.HasErrorKey("Other") ? "govuk-textarea--error" : string.Empty)"
								  id="Other" data-testid="Other" name="Other" rows="5" aria-describedby="Other-info">@Model.Other</textarea>
						<div id="Other-info" class="govuk-hint govuk-character-count__message">
							@Localizer["you_can_enter_up_to_x_characters", 500]
						</div>
					</div>
				}

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="@Constants.ContinueAction" name="action" value="@Constants.ContinueAction">
						@Localizer["saveandcontinue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="@Constants.SaveAction" name="action" value="@Constants.SaveAction">
						@Localizer["saveandcomebacklater"]
					</button>
				</div>
			}
		</div>
	</div>
</main>