@using ViewModels.Accreditation
@model ReviewBusinessPlanViewModel
@{
	ViewData["Title"] = Localizer["title"];

	var businessPlanItems = new[] {
		new { Name = "infrastructure", Percentage = Model.InfrastructurePercentage, Notes = Model.InfrastructureNotes },
		new { Name = "price-support", Percentage = Model.PriceSupportPercentage, Notes = Model.PriceSupportNotes },
		new { Name = "business-collections", Percentage = Model.BusinessCollectionsPercentage, Notes = Model.BusinessCollectionsNotes },
		new { Name = "communications", Percentage = Model.CommunicationsPercentage, Notes = Model.CommunicationsNotes },
		new { Name = "new-markets", Percentage = Model.NewMarketsPercentage, Notes = Model.NewMarketsNotes },
		new { Name = "new-uses", Percentage = Model.NewUsesPercentage, Notes = Model.NewUsesNotes },
		new { Name = "other-activities", Percentage = Model.OtherPercentage, Notes = Model.OtherNotes },
	};
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			@using (Html.BeginForm("ReviewBusinessPlan", "Accreditation", FormMethod.Post))
			{
				@Html.HiddenFor(m => m.Subject)
				@Html.HiddenFor(m => m.AccreditationId)
				@Html.HiddenFor(m => m.ApplicationTypeId)

				<h1 class="govuk-heading-l" data-testid="heading">@Localizer["heading"]</h1>
				<h2 class="govuk-heading-m" data-testid="sub-heading">@Localizer["sub-heading", Model.Subject]</h2>

				<dl class="govuk-summary-list govuk-!-margin-bottom-9">
					@foreach (var item in businessPlanItems)
					{
						@if (item.Percentage > 0)
						{
							<div class="govuk-summary-list__row">
								<dt data-testid="@item.Name" class="govuk-summary-list__key">
									@Localizer[item.Name]
								</dt>
								<dd data-testid="@(item.Name)-value" class="govuk-summary-list__value">
									@item.Percentage%
								</dd>
								<dd class="govuk-summary-list__actions">
									<a data-testid="@(item.Name)-change" class="govuk-link govuk-link--no-visited-state" href="@Model.BusinessPlanUrl">
										@Localizer["change"]
									</a>
								</dd>
							</div>

							<div class="govuk-summary-list__row">
								<dt data-testid="more-detail-@(item.Name)" class="govuk-summary-list__key">
									@Localizer[$"more-detail-{item.Name}"]
								</dt>
								<dd data-testid="more-detail-@(item.Name)-value" class="govuk-summary-list__value">
									@item.Notes
								</dd>
								<dd class="govuk-summary-list__actions">
									<a data-testid="more-detail-@(item.Name)-change" class="govuk-link govuk-link--no-visited-state" href="@Model.MoreDetailOnBusinessPlanUrl">
										@Localizer["change"]
									</a>
								</dd>
							</div>
						}
					}
				</dl>

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
						@Localizer["confirm-and-continue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
						@Localizer["save-and-continue-later"]
					</button>
				</div>
			}
		</div>
	</div>
</main>