@using Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation
@model SamplingAndInspectionPlanViewModel

@{
	ViewData["Title"] = @Localizer["title", Localizer[Model.MaterialName]];
	var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);

	var uploadedFilesHeader = Localizer["uploaded_files"];
	var dateUploadedHeader = Localizer["date_uploaded"];
	var uploadedByHeader = Localizer["uploaded_by"];
	var deleteHeader = Localizer["delete"];
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_ErrorSummary", errorsVM)
			}

			@using (Html.BeginForm("SamplingAndInspectionPlan", "Accreditation", FormMethod.Post, new
			{
				enctype = "multipart/form-data"
			}))
			{
				@Html.HiddenFor(m => m.AccreditationId)
				@Html.HiddenFor(m => m.MaterialName)

				<h1 class="govuk-heading-l" data-testid="title">
					@Localizer["title", Localizer[Model.MaterialName]]
				</h1>

				<div class="govuk-form-group">
					<p class="govuk-body" data-testid="file_requirements_text">@Localizer["file_requirements_text"]</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>@Localizer["file_requirement_1"]</li>
						<li>@Localizer["file_requirement_2"]</li>
					</ul>
				</div>

				<div class="govuk-form-group @(ViewData.ModelState.IsValid ? string.Empty : "govuk-form-group--error")">

					@if (!ViewData.ModelState.IsValid)
					{
						@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("file"))
					}
					<label class="govuk-label" for="upload-file">
						Upload a file
					</label>
					<input class="govuk-file-upload" title="Choose a file" id="upload-file" name="file" type="file">
				</div>

				@if (Model.UploadedFiles.Count > 0)
				{
					<table class="govuk-table govuk-!-margin-bottom-8">
						<caption class="govuk-visually-hidden">@uploadedFilesHeader</caption>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header">@uploadedFilesHeader</th>
								<th scope="col" class="govuk-table__header">@dateUploadedHeader</th>
								<th scope="col" class="govuk-table__header">@uploadedByHeader</th>
								<th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">@deleteHeader</span></th>
							</tr>
						</thead>
						<tbody class="govuk-table__body">
						@foreach (var file in Model.UploadedFiles)
						{
								<tr class="govuk-table__row">
									<td class="govuk-table__cell" data-heading="@uploadedFilesHeader">
										<a class="govuk-link--no-visited-state" href="@file.DownloadFileUrl">@file.FileName</a>
									</td>
									<td class="govuk-table__cell" data-heading="@dateUploadedHeader">@file.DateUploaded.ToString("dd MMM yyyy")</td>
									<td class="govuk-table__cell" data-heading="@uploadedByHeader">@file.UploadedBy</td>
									<td class="govuk-table__cell" data-heading="@deleteHeader">
										<a class="govuk-link--no-visited-state" href="#" data-testid="delete-@file.FileName">@deleteHeader</a>
									</td>
								</tr>
						}
						</tbody>
					</table>
				}

				<div class="govuk-button-group">
					<button class="govuk-button" data-module="govuk-button" data-testid="continue" name="action" value="continue">
						@Localizer["saveandcontinue"]
					</button>
					<button class="govuk-button govuk-button--secondary" data-module="govuk-button" data-testid="save" name="action" value="save">
						@Localizer["saveandcomebacklater"]
					</button>
				</div>
			}
		</div>
	</div>
</main>
