@using Epr.Reprocessor.Exporter.UI.App.Enums.Accreditation;
@using TaskStatus = Epr.Reprocessor.Exporter.UI.App.Enums.TaskStatus

@model Epr.Reprocessor.Exporter.UI.ViewModels.Accreditation.TaskListViewModel;

@{
    ViewData["Title"] = Localizer["title", Model.ApplicationTypeDescription];
    ViewData["PageDescription"] = Localizer["page_description", Model.ApplicationTypeDescription];
    var reprocessor = Model.ApplicationType == ApplicationType.Reprocessor;
    var parameters = new Dictionary<string, string>
    {
        {"accreditationId", Model.Accreditation.ExternalId.ToString()}
    };
}

<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading" id="main_heading" name="main_heading">@Localizer["main_heading", Model.ApplicationTypeDescription]</h1>
                    <br/>
                    <h2 class="govuk-heading-s" id="heading_year" name="heading_year">@Localizer["heading_year", "2026"]</h2>
                    <h2 class="govuk-heading-s" id="heading_site" name="heading_site">@Localizer["heading_site", "23 Ruby Street"]</h2>                    
                </legend>

                <p class="govuk-body">
                    @Localizer["main_para"]
                </p>

                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-visually-hidden">Section</th>
                            <th scope="col" class="govuk-table__header govuk-visually-hidden">Empty</th>
                            <th scope="col" class="govuk-table__header govuk-visually-hidden">Status</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" id="prn_tonnage" asp-route="@Model.PrnTonnageRouteName" asp-all-route-data="parameters">
                                    @Localizer["prn_tonnage", Model.ApplicationTypeDescription, Model.ApplicationTypeDescription]
                                </a>
                            </td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">
                                <div class="govuk-task-list__status" id="prn_tonnage_status" name="prn_tonnage_status">
                                    @{ ShowProgressStatus(Model.TonnageAndAuthorityToIssuePrnStatus); }
                                </div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" id="business_plan" asp-action="BusinessPlan" asp-all-route-data="parameters">
                                    @Localizer["business_plan"]
                                </a>
                            </td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">
                                <div class="govuk-task-list__status" id="business_plan_status" name="business_plan_status">
                                    @{ ShowProgressStatus(Model.BusinessPlanStatus); }
                                </div>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                <a class="govuk-link govuk-link--no-visited-state" id="accreditation_sampling" asp-route="@Model.SamplingInspectionRouteName" asp-all-route-data="parameters">
                                    @Localizer[reprocessor ? "PRN_accreditation_sampling_and_inspection" : "PERN_accreditation_sampling_and_inspection"]
                                </a>
                            </td>
                            <td class="govuk-table__cell"></td>
                            <td class="govuk-table__cell">
                                <div class="govuk-task-list__status" id="accreditation_sampling_status" name="accreditation_sampling_status">
                                    @{ ShowProgressStatus(Model.AccreditationSamplingAndInspectionPlanStatus); }
                                </div>
                            </td>
                        </tr>
                        @* @if (Model.ApplicationType == ApplicationType.Exporter)
                        { *@
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a class="govuk-link govuk-link--no-visited-state"
                                       asp-route="@Model.SelectOverseasSitesRouteName"
                                       asp-route-accreditationId="@Model.Accreditation.ExternalId">
                                        @Localizer["overseas_reprocessing_sites"]
                                    </a>
                                </td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">
                                    <div class="govuk-task-list__status" id="accreditation_sampling_status" name="accreditation_sampling_status">
                                        <strong class="govuk-tag">
                                            @{ ShowProgressStatus(Model.OverseaSitesStatus); }
                                        </strong>
                                    </div>
                                </td>
                            </tr>

                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    @if (Model.OverseaSitesStatus == TaskStatus.Completed)
                                    {
                                        <a class="govuk-link govuk-link--no-visited-state" id="equivalent_standards"
                                           asp-action="UploadEvidenceOfEquivalentStandards" asp-all-route-data="parameters">
                                            @Localizer["evidence_of_broadly_equivalent_standards"]
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="govuk-link govuk-link--no-visited-state govuk-link--disabled" aria-disabled="true" disabled="disabled">
                                            @Localizer["evidence_of_broadly_equivalent_standards"]
                                        </span>
                                    }
                                </td>
                                <td class="govuk-table__cell"></td>
                                <td class="govuk-table__cell">
                                    <div class="govuk-task-list__status" id="accreditation_sampling_status" name="accreditation_sampling_status">
                                        <strong class="govuk-tag">
                                        @Localizer[Model.OverseaSitesStatus != TaskStatus.Completed ? "cannot_start_yet_status" : "not_started_status" ]
                                        </strong>
                                    </div>
                                </td>
                            </tr>
                       @*   } *@
                    </tbody>
                </table>
                @if (!Model.IsApprovedUser)
                {
                    <h2 class="govuk-heading-m" data-testid="you_cannot_submit">@Localizer["you_cannot_submit_application"]</h2>
                    <p class="govuk-body-m">
                        @Localizer["some_people_in_your_organisation_are_responsible"]
                    </p>
                    <partial name="_PeopleAbleToSubmitApplication" model="@Model.PeopleCanSubmitApplication" />

                    <div class="govuk-button-group">
                        <a class="govuk-button" data-module="govuk-button" asp-controller="Home" asp-action="Index">
                            @SharedLocalizer["homepage"]
                        </a>
                    </div>
                }
                else if (Model.AllTasksCompleted)
                {
                    <div class="govuk-button-group">
                        <a class="govuk-button" data-module="govuk-button" asp-action="Declaration" asp-all-route-data="parameters">
                            @SharedLocalizer["continue"]
                        </a>
                    </div>
                }
            </fieldset>
        </div>
    </div>
</main>

@{
    void ShowProgressStatus(TaskStatus status)
    {
        if (status == TaskStatus.NotStart)
        {
            <strong class="govuk-tag">@Localizer["not_started_status"]</strong>
        }
        else if (status == TaskStatus.InProgress)
        {
            <strong class="govuk-tag">@Localizer["in_progress_status"]</strong>
        }
        else if (status == TaskStatus.Completed)
        {
            @Localizer["completed_status"]
        }
    }
}